{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block content %}
   <link href="{% static 'css/registration.css' %}" rel="stylesheet"/>
  <!-- Using this because of django redux registration which contains built-in validation. -->
  {% if request.user.is_authenticated %}
    <script>
      window.location.replace("http://52.14.20.127:8000");
    </script>
  {% else %}
    <div class='row login'>
      <div class='col-sm-4 col-sm-offset-4'>
      <br />
<br />
<br />
<br />
        <h1>登入</h1>
        <form method="post" action=".">
          {% csrf_token %}
          {{ form|crispy }}

          <input class='btn btn-block btn-primary' type="submit" value="{% trans '提交' %}"/>
          <input type="hidden" name="next" value="{{ next }}"/>
        </form>
      </div>
    </div>
    <hr/>
    <div class='row form-opt'>
      <div class='col-sm-4 col-sm-offset-4 text-align-center'>
        <p>{% trans "忘记密码" %}? <a href="{% url 'auth_password_reset' %}">{% trans "重置" %}</a>!</p>
        <p>{% trans "非会员" %}? <a href="{% url 'registration_register' %}">{% trans "注册" %}</a>!</p>
      </div>
    </div>
  {% endif %}
{% endblock %}
