{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
  <link href="{% static 'css/registration.css' %}" rel="stylesheet"/>
  <!-- Using this because of django redux registration which contains built-in validation. -->
  {% if request.user.is_authenticated %}
    <script>
      window.location.replace("http://course.auvskydiving.com");
    </script>
  {% else %}
  <div class='row'>
  <br />
<br />
<br />
<br />
    <div class='col-xs-12 col-sm-4 col-sm-offset-4 registration'>
      <h1>免费注册！</h1>
      <form method="post" action=".">
        {% csrf_token %}
        {{ form|crispy }}

        <input class='btn btn-block btn-primary' type="submit" value="{% trans '加入' %}"/>
      </form>
    </div>
  </div>

  <hr/>
  <div class='row form-opt'>
    <div class='col-sm-4 col-sm-offset-4 text-align-center'>
      <p>Need to <a href="{% url 'auth_login' %}">Login</a>?</p>
    </div>
  </div>
  {% endif %}

{% endblock %}
